@import 'variables';

$header-height: 72px;

$logo-container-w: auto;
$search-bar-container-w: 100%;
$nav-bar-container-w: auto;
$profile-img-container-w: auto;

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    

    background-color: #FFFFFF;
    height: $header-height;
    flex-direction: row;
    width: auto;
    padding-right: 48px;
    padding-left: 48px;
    padding-top: 11px;
    // border-bottom: 1px gray solid;
}

#logo-container {
    width: $logo-container-w;
    text-align: left;
    margin-right: 48px;
}

#search-bar-container {    
    width: $search-bar-container-w;
    text-align: center;
    margin-right: 48px;

    input[type=text] {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #0000001A;
        border-radius: 8px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px; 
    }
}

#nav-bar-container {
    width: $nav-bar-container-w;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    
    a {
        margin-right: 24.5px;
        font-size: 18px;
        font-weight: 500;
        line-height: 23.4px;
        text-align: left;     
        text-decoration: none;
        color: $font-color;
    }

    a.active {
        color: #EF5466;
    }
}

#profile-img-container {
    width: $profile-img-container-w;
    text-align: center;
}