@import 'variables';


#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    

    background-color: $header-background-c;
    min-height: $header-height;
    flex-direction: row;
    width: auto;
    padding-right: 48px;
    padding-left: 48px;
    padding-top: 11px;
    box-shadow: 0px 6px 25px 0px #0000000D;
}

#logo-container {
    width: auto;
    text-align: left;
    margin-right: 48px;
}

#search-bar-container {    
    width: 100%;
    text-align: center;
    margin-right: 48px;

    input[type=text] {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #0000001A;
        border-radius: 8px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px; 
    }
}

#nav-bar-container {
    width: auto;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    
    a {
        margin-right: 24.5px;
        font-size: 18px;
        font-weight: 500;
        line-height: 23.4px;
        text-align: left;     
        text-decoration: none;
        color: $font-color;
    }

    a.active {
        color: #EF5466;
    }
}

#profile-img-container {
    width: auto;
    text-align: center;
}