@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

$font-family: IBM Plex Sans;
$font-color: #000000;
$songs-list-height: 90vh;
$header-height: 72px;
$header-background-c: #FFFFFF;
$songs-list-background-c: rgb(252 252 252 / 90%);
$music-player-background-c: #FFFFFF;
$music-player-height: 120px;