@use 'header';
@use 'songs-list';

// Variables
$background-color: #FFFFFF;
$font-color: #000000;
$songs-list-height: 90vh;

// Styles

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

body {
    background-color: $background-color;
}

#deezer-container {
    h1 {
        color: $font-color;        
    }
}