@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  min-height: 72px;
  flex-direction: row;
  width: auto;
  padding-right: 48px;
  padding-left: 48px;
  padding-top: 11px;
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.0509803922);
}

#logo-container {
  width: auto;
  text-align: left;
  margin-right: 48px;
}

#search-bar-container {
  width: 100%;
  text-align: center;
  margin-right: 48px;
}
#search-bar-container input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

#nav-bar-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#nav-bar-container a {
  margin-right: 24.5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 23.4px;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
#nav-bar-container a.active {
  color: #EF5466;
}

#profile-img-container {
  width: auto;
  text-align: center;
}

#songs-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 158px;
  background-color: rgba(252, 252, 252, 0.9);
  flex: 1;
}

#search-title-container {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}
#search-title-container p {
  font-family: IBM Plex Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  text-align: left;
}
#search-title-container p.result {
  font-weight: 500;
}

#gallery-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
#gallery-grid-container p.no-results {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  opacity: 0.5;
}
#gallery-grid-container .music-card {
  position: relative;
  width: auto;
  height: 312px;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: start;
  align-items: end;
  opacity: 0.9;
  transition: all 300ms ease-out;
  cursor: pointer;
}
#gallery-grid-container .music-card * {
  cursor: pointer;
}
#gallery-grid-container .music-card .card-info {
  padding-left: 24px;
  text-align: left;
}
#gallery-grid-container .music-card .card-info h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: white;
}
#gallery-grid-container .music-card .card-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: rgba(255, 255, 255, 0.6980392157);
}
#gallery-grid-container .music-card .card-info h2, #gallery-grid-container .music-card .card-info p {
  margin-top: 0;
  margin-bottom: 8px;
}
#gallery-grid-container .music-card .card-info p:last-child {
  margin-bottom: 24px;
}
#gallery-grid-container .music-card:hover {
  opacity: 1;
}
#gallery-grid-container .music-card:hover .play-button {
  opacity: 1;
}
#gallery-grid-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  background: no-repeat center center;
  background-size: contain;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms ease-out;
  border: none;
  z-index: 1;
}

#music-player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  min-height: 120px;
  flex-direction: row;
  width: auto;
  background-color: #FFFFFF;
  box-shadow: 0px -6px 25px 0px rgba(0, 0, 0, 0.0509803922);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;
  pointer-events: none;
}
#music-player-container.visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
#music-player-container.hidden {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
}

#song-info-container {
  width: auto;
  text-align: left;
  margin-left: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#song-info-container .track-img-area {
  margin-top: 20px;
  margin-bottom: 20px;
}
#song-info-container .track-img {
  width: 80px;
  height: 80px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}
#song-info-container .track-info-area {
  margin-left: 24px;
}
#song-info-container .track-info-area h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}
#song-info-container .track-info-area p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}
#song-info-container .track-info-area h2, #song-info-container .track-info-area p {
  margin-top: 0;
  margin-bottom: 4px;
}

#progress-bar-container {
  width: 50%;
  text-align: center;
}
#progress-bar-container .rhap_container {
  background-color: transparent;
  box-shadow: none;
  position: relative;
}
#progress-bar-container .rhap_controls-section {
  justify-content: center;
}
#progress-bar-container .rhap_main-controls-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.0705882353);
  gap: 0px;
  border-radius: 100%;
  opacity: 0px;
}
#progress-bar-container .iconify {
  background-color: black;
}
#progress-bar-container .rhap_progress-indicator, #progress-bar-container .rhap_volume-indicator {
  display: none;
}
#progress-bar-container .rhap_download-progress {
  background-color: rgba(0, 0, 0, 0.0509803922);
  gap: 0px;
  border-radius: 7px;
  opacity: 0px;
}
#progress-bar-container .rhap_progress-bar {
  height: 6px;
  border-radius: 7px;
}
#progress-bar-container .rhap_progress-filled, #progress-bar-container .rhap_volume-filled {
  background-color: #EF5466;
  border-radius: 7px;
}
#progress-bar-container .rhap_time {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: left;
}
#progress-bar-container .play-btn-small {
  width: 50px;
  height: 50px;
  margin-left: 1px;
}
#progress-bar-container .pause-btn-small {
  width: 18px;
  height: 18px;
}

#volume-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 48px;
}
#volume-container .custom-volume-control {
  display: flex;
  align-items: center;
}
#volume-container .custom-volume-control .volume-input {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.0509803922);
  height: 6px;
  gap: 0px;
  border-radius: 7px;
  width: 100px;
  cursor: pointer;
  position: relative;
  margin-left: 11px;
}
#volume-container .custom-volume-control .volume-input::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(to right, #EF5466 0%, #EF5466 var(--volume, 0%), rgba(0, 0, 0, 0.0509803922) var(--volume, 0%), rgba(0, 0, 0, 0.0509803922) 100%);
  border-radius: 7px;
}
#volume-container .custom-volume-control .volume-input::-webkit-slider-thumb {
  display: none;
}
#volume-container .custom-volume-control .volume-input::-moz-range-thumb {
  display: none;
}
#volume-container .custom-volume-control .volume-input::-ms-track {
  height: 6px;
  background: rgba(0, 0, 0, 0.0509803922);
  border-color: transparent;
  color: transparent;
}
#volume-container .custom-volume-control .volume-input::-ms-thumb {
  display: none;
}
#volume-container .custom-volume-control .volume-input::-ms-fill-lower {
  background: #EF5466;
  border-radius: 5px;
}
#volume-container .custom-volume-control .volume-input::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.0509803922);
  border-radius: 5px;
}

:root {
  font-family: IBM Plex Sans;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: IBM Plex Sans;
}

body {
  background-color: rgba(252, 252, 252, 0.9);
}

#deezer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#deezer-container h1 {
  color: #000000;
}

/*# sourceMappingURL=index.css.map */
